{% extends 'apps/include_base/base.html' %}


{% block body %}

    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <br>
                <h3 class="text-center"> Mening havolalarim </h3>
                <br>

                <div class="row">
                    {% for stream in user.streams.all %}
                        <div class="col-sm-4">
                            <div class="card-header">
                                <h5>{{ stream.name }}</h5>
                            </div>
                            <div class="card">
                                <div class="card-body" style="position: relative;">
                                    <div class="form-group">
                                        <input type="text" value="{{ request.get_host }}/oqim/{{ stream.id }}" readonly
                                               class="ref_link form-control">
                                    </div>
                                    <button class="copy_ref_bn btn btn-primary"
                                            style="float:left; margin-right:9px; margin-top: 9px;">Nusxa ko'chirish
                                    </button>
                                    <a href="https://alijahon.uz/oqim/57729" target="_blank"><i
                                            class="fa-solid fa-square-arrow-up-right"
                                            style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px; margin-right:9px;"></i></a>
                                    <a href="https://t.me/AlijahonBot?start=order_57729" target="_blank"><i
                                            class="fa-brands fa-telegram"
                                            style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px;"></i></a>
                                </div>
                            </div>
                            <br>
                        </div>

                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

{% endblock %}

