{% extends 'apps/include_base/base.html' %}


{% block body %}


    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu" style="overflow: auto">
                            <a href="{% url 'admin_statistic' %}?period=today" class="btn btn-default">Bugun</a>
                            <a href="{% url 'admin_statistic' %}?period=last_day" class="btn btn-default">Kechagi</a>
                            <a href="{% url 'admin_statistic' %}?period=wekly" class="btn btn-default">Haftalik</a>
                            <a href="{% url 'admin_statistic' %}?period=monthly" class="btn btn-default">Oylik</a>
                            <a href="{% url 'admin_statistic' %}" class="btn btn-default">Hammasi</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">

                        <tr>
                            <th scope="col">Oqim</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Tashrif</th>
                            <th scope="col">Yangi</th>
                            <th scope="col">Dastavkaga tayyor</th>
                            <th scope="col">Yetkazilmoqda</th>
                            <th scope="col">Yetqazib berildi</th>
                            <th scope="col">Telefon ko'tarmadi</th>
                            <th scope="col">Bekor qilindi</th>
                            <th scope="col">Arxivlandi</th>
                        </tr>

                        </thead>

                        <tbody class="text-center">
                        {% for stream in streams %}
                        <tr>
                            <th>{{ stream.name }}</th>
                            <th>{{ stream.product__name }}</th>
                            <td>{{ stream.count }}</td>
                            <td>{{ stream.new_count }}</td>
                            <td>{{ stream.ready_to_start_count }}</td>
                            <td>{{ stream.being_delivered_count }}</td>
                            <td>{{ stream.delivered_count }}</td>
                            <td>{{ stream.not_pick_up_phone_count }}</td>
                            <td>{{ stream.canceled_count }}</td>
                            <td>{{ stream.archived_count }}</td>
                        </tr>
                        {% endfor %}


                        <tr class="bg-info">
                            <td> JAMI</td>
                            <td></td>

                            <td> {{ total_COUNT }}</td>
                            <td> {{ total_NEW }}</td>
                            <td> {{ total_READY_TO_START }}</td>
                            <td> {{ total_BEING_DELIVERED }}</td>
                            <td> {{ total_DELIVERED }}</td>
                            <td> {{ total_NOT_PICK_UP_PHONE }}</td>
                            <td> {{ total_CANCELED }}</td>
                            <td> {{ total_ARCHIVED }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}