{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="language-bar">
    
    <ul>
        {% for language in languages %}
            <li>
                <form action="{% url 'set_languagee' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="language" value="{{ language.code }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">{{ language.name_local }} ({{ language.code }})</button>
                </form>
            </li>
            
        {% endfor %}
    </ul>
</div>

{% for object in objects %}
{{ object.title }}
{% endfor %}

</body>
</html>